@import './reset';
@import './color';
@import './base';

/*Header*/
@import './header';

main {
  margin-top: 56px;
  padding-bottom: 40px;
}

.container {
  padding: 0 15px;
}

/*Stepper*/
@import './stepper';

/*Form*/
@import './form';

/*Cart*/
@import './cart';

/*BtnControl*/
@import './btnControl';
